<%- include("header.ejs") %>
    <%- include("navbar.ejs", { activePage: "home" }) %>
        <div class="px-4 pt-5 mt-5 text-center border-bottom">
            <h1 class="headline display-4 fw-bold text-body-emphasis">
                Hello <%= firstName %>
                    <%= lastName%>
            </h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Wellcome to our family recipes blog.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <form action="/add-recipe" method="GET">
                        <button type="submit" class="btn btn-secondary dark-background btn-lg px-4 me-sm-3">Add
                            Recipe</button>
                    </form>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="assets/images/food.png" class="img-fluid border rounded-3 shadow-lg mb-4"
                        alt="Example image" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
        <%- include("footer.ejs") %>